@model WorkersBank.Models.ViewModel.ViewProfileVM

@{
    ViewBag.Title = "View Profile";
}

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    <div class="fancy-title title-bottom-border">
                        <h3>View Profile</h3>
                    </div>
                    @if (TempData["SM"] != null)
                    {
                        <div class="style-msg successmsg">
                            <div class="sb-msg">@TempData["SM"]</div>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                    }
                    <div>
                        <div>
                            <div class="row process_style col-md-8 offset-md-2">
                                <div class="col-md-6 offset-md-1" style="max-width: 150px;">
                                    @if (Model.User.PassportName == null)
                                    {
                                        <img style="width: 100%" src="/Images/img/avatar.jpg" alt="passport" />
                                    }
                                    else
                                    {
                                        <img style="width: 100%" src="/Images/Uploads/Passports/@Model.User.Id/Thumbs/@Model.User.PassportName" alt="passport" />
                                    }
                                    <div>
                                        @if(Model.User.UserType == "Seeker")
                                        {
                                            if (String.IsNullOrEmpty(Model.User.CV))
                                             {
                                                 <p>CV has not yet been uploaded by this user.</p>
                                             }
                                             else
                                             {
                                                 <p style="margin-top: 10px"><a href="/Accounts/DownloadCV/@Model.User.Username" class="btn btn-sm btn-info">Download CV</a></p>
                                             }
                                        }
                                    </div>
                                </div>
                                
                                <div class="col-md-9 offset-md-1 mt-5">
                                    <h4>Basic Information:</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Name</th>
                                                    <td>@Model.User.Firstname @Model.User.Middlename @Model.User.Surname</td>
                                                </tr>
                                                <tr>
                                                    <th>Username</th>
                                                    <td>@Model.User.Username</td>
                                                </tr>
                                                <tr>
                                                    <th>Date Of Birth</th>
                                                    <td>@Model.User.DOB.ToLongDateString()</td>
                                                </tr>
                                                <tr>
                                                    <th>State Of Origin</th>
                                                    <td>@Model.User.StateOfOrigin</td>
                                                </tr>
                                                <tr>
                                                    <th>Gender</th>
                                                    <td>@Model.User.Gender</td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td>@Model.User.Email</td>
                                                </tr>
                                                <tr>
                                                    <th>Phone Number</th>
                                                    <td>@Model.User.PhoneNumber</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @if (Model.JobSeeker != null)
                                {
                                    <div class="col-md-9 offset-md-1 mt-5">
                                        <h4 style="margin-bottom: 0">Last Institution Attended:</h4>
                                        <div class="seekerInfo" style="margin-bottom: 25px">@Model.JobSeeker.LastInstitution</div>

                                        <h4>Qualification:</h4>
                                        <div class="seekerInfo">@Html.Raw(Model.JobSeeker.Qualification)</div>

                                        <h4>Work Experience:</h4>
                                        <div class="seekerInfo">@Html.Raw(Model.JobSeeker.WorkExperience)</div>

                                        <h4>Skills Acquired:</h4>
                                        <div class="seekerInfo">@Html.Raw(Model.JobSeeker.SkillsAcquired)</div>
                                    </div>
                                }
                                @if (Model.SeekerJobs.Any())
                                {
                                    <div class="col-md-9 offset-md-1 mt-5">
                                        <h4 style="margin-bottom: 0">Job(s) of Interest:</h4>
                                        <div class="seekerInfo">
                                            <ul>
                                                @foreach (var item in Model.SeekerJobs)
                                                {
                                                    <li>@item.Jobs.JobName</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                                @if(Model.Hirer != null)
                                {
                                    <div class="col-md-9 offset-md-1 mt-5">
                                        <h4 style="margin-bottom: 0">Name Of Organization:</h4>
                                        <div class="seekerInfo" style="margin-bottom: 25px">@Model.Hirer.NameOfOrganisation</div>

                                        <h4>Address:</h4>
                                        <div class="seekerInfo">@Html.Raw(Model.Hirer.Address)</div>

                                        <h4>Description:</h4>
                                        <div class="seekerInfo">@Html.Raw(Model.Hirer.Description)</div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- #content end -->


@section Scripts{
    <script src="~/Content/User/js/components/moment.js"></script>
    <script>
        $(function () {

        });
    </script>
}

