@model WorkersBank.Areas.Admin.Models.ManageUsersVM

@{
    ViewBag.Title = "Manage Users";
}

<div class="container-fluid">
    <div class="block-header">
        <h2>Manage Users</h2>
    </div>
    <!-- Striped Rows -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Administrators
                    </h2>
                </div>
                <div class="body table-responsive">
                    @if (Model.Administrators.Any())
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ADMINISTRATOR USERNAME</th>
                                    <th>NAME</th>
                                    <th>PHONE NUMBER</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                    foreach (var item in Model.Administrators)
                                    {
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Username</td>
                                            <td>@item.Firstname @item.Surname</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>
                                                <a href="/Admin/Customers/view-previledges/@item.Username" class="btn bg-teal waves-effect">View</a>
                                            </td>
                                        </tr>
                                        ++count;
                                    }
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <p>No Administrator?</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Striped Rows -->
    <!-- Striped Rows -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                       Customers
                    </h2>
                </div>
                <div class="body table-responsive">
                    @if (Model.Nonadministrators.Any())
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>USERNAME</th>
                                    <th>NAME</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                    foreach (var item in Model.Nonadministrators)
                                    {
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Username</td>
                                            <td>@item.Firstname @item.Surname</td>
                                            <td>
                                                <a href="/Admin/Customers/view-previledges/@item.Username" class="btn bg-success waves-effect">Authorize</a>
                                            </td>
                                        </tr>
                                        ++count;
                                    }
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <p>There are currently no administrators.</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Striped Rows -->
</div>

@section Scripts{

    <script>
    $(function () {

    })
    </script>
}