@model WorkersBank.Models.ViewModel.SearchVM
@{
    ViewBag.Title = "Home Page";
}
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            @if (TempData["SM"] != null)
            {
                <div class="style-msg successmsg">
                    <div class="sb-msg">@TempData["SM"]</div>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
            }

        <div>
            <div class="row">
                <h3 style="margin: auto">Search For Job Applicants</h3>
                <div class="card col-md-6 offset-md-3">
                    <div class="card-body" style="padding: 10px;">
                        @using (Html.BeginForm("search-applicants", "Home", FormMethod.Get))
                        {
                            <p>Note: All fields are optional.</p>

                            <div class="col_full">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="col_full">
                                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>

                            <div class="col_full">
                                @Html.LabelFor(model => model.Qualification, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                            </div>

                            <div class="col_full">
                                @Html.LabelFor(model => model.Job, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Job, Model.Jobs, "Select Job Type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })
                            </div>

                            <div class="col_full">
                                <input type="radio" id="male" name="Gender" value="Male" />
                                <label class="control-label" for="male">Male</label>
                            </div>

                            <div class="col_full">
                                <input type="radio" id="female" name="Gender" value="Female" />
                                <label class="control-label" for="female">Female</label>
                            </div>


                            <div class="col_full nobottommargin">
                                <button class="button button-3d btn-success nomargin" type="submit">Search</button>

                            </div>
                        }



                    </div>
                </div>
                @*<div class="col-sm-4 col-6 col-md-3">
            <div class="card" style="margin: 5px">
                <a href="#">
                    <div class="card-body">
                        <div class="photo" style="max-width:100px;margin:auto">
                            <img class="img-circle" style="width: 100%" src="/Images/img/avatar.jpg" alt="passport" />
                        </div>
                        <p class="center">Abdulwasiu Olanrewaju</p>
                    </div>
                </a>
            </div>
        </div>*@
            </div>
        </div>

        </div>
    </div>

</section><!-- #content end -->